@import url('variables.css');

.auth-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: var(--background-color-dark);
}

.signup-form {
  background-color: var(--background-color-medium);
  padding: 20px;
  border-radius: 8px;
  width: 300px;
  text-align: center;
}

.signup-form h2 {
  color: var(--text-color-white);
  margin-bottom: 20px;
}

.input-group {
  margin-bottom: 10px;
  text-align: left;
}

.input-group input,
.small-input {
  width: 100%;
  padding: 8px;
  border: none;
  border-radius: 4px;
  margin-top: 5px;
  background-color: var(--background-color-grey);
  color: var(--text-color-white);
  box-sizing: border-box;
}

.input-group input::placeholder,
.small-input::placeholder {
  color: var(--text-color-white);
  opacity: 0.8;
}

.name-fields {
  display: flex;
  justify-content: space-between;
  gap: 10px;
}

.name-fields .input-group,
.reduced-width-input {
  width: 48%;
}

.btn-signup {
  background-color: var(--button-login-background-color);
  color: var(--text-color-white);
  padding: 14px;
  border: none;
  border-radius: 20px;
  cursor: pointer;
  width: 75%;
  margin-top: 10px;
}

.login-redirect {
  color: var(--text-color-light);
  margin-top: 10px;
}

.login-redirect a {
  color: var(--link-color);
}

.auth-divider {
  color: var(--text-color-light);
  margin: 20px 0;
  position: relative;
  text-align: center;
}

.auth-divider::before,
.auth-divider::after {
  content: "";
  height: 1px;
  width: 45%;
  background-color: var(--background-color-light);
  position: absolute;
  top: 50%;
}

.auth-divider::before {
  left: 0;
}

.auth-divider::after {
  right: 0;
}

.btn-google, .btn-microsoft {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  padding: 10px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  width: 100%;
  margin-bottom: 10px;
  color: var(--button-auth-background-color);
}

.btn-google {
  background-color: var(--button-auth-background-color) !important;
  color: var(--button-auth-text-color) !important;
}

.btn-microsoft {
  background-color: var(--button-auth-background-color) !important;
  color: var(--button-auth-text-color) !important;
}

.icon-google,
.icon-microsoft {
  width: 24px;
  height: 24px;
}
